<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sama Stream - /Jujustu Kaisen - Saison 1</title>

    <!--=============== REMIXICONS ===============-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&"
    />

    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/style.css" />

    <link
      rel="website icon"
      type="png"
      href="/image/Logo/Sans titre (Logo).png"
    />
  </head>
  <body>
    <aside class="sidebar">
      <ul class="sidebar-links">
        <li>
          <a href="/Category/Animé.html"
            ><span class="material-symbols-outlined"> tv_gen</span
            >Animé</a
          >
        </li>
        <li>
          <a href="/Category/Films.html"
            ><span class="material-symbols-outlined"> theaters </span>Films</a
          >
        </li>
        <li>
          <a href="/Category/Séries.html"
            ><span class="material-symbols-outlined"> movie </span>Séries</a
          >
        </li>
        <h4>
          <div class="menu-separator"></div>
        </h4>
        <li>
          <a href="/Category/Tendances.html"
            ><span class="material-symbols-outlined"> trending_up </span
            >Tendances</a
          >
        </li>
        <li>
          <a href="/Category/Demande-d-ajouts.html"
            ><span class="material-symbols-outlined"> laps </span>Demande
            d'ajouts</a
          >
        </li>
        <li>
          <a href="/Category/Aide.html"
            ><span class="material-symbols-outlined"> help </span>Aide</a
          >
        </li>
        <h4>
          <div class="menu-separator"></div>
        </h4>
        <li>
          <a href="/Category/Profile.html"
            ><span class="material-symbols-outlined"> account_circle </span
            >Profile</a
          >
        </li>
        <li>
          <a href="/Category/Parametre.html"
            ><span class="material-symbols-outlined"> settings </span
            >Parametre</a
          >
        </li>
      </ul>
    </aside>

    <!--==================== HEADER ====================-->
    <header class="header" id="header">
      <nav class="nav container">
        <a href="/Sama-Stream.html" class="nav__logo-link">
          <div class="nav__logo-container">
            <img src="/image/Logo/En-tête.png" alt="Logo" />
            <span>Sama Stream</span>
          </div>
        </a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="/Sama-Stream.html" class="nav__link">Home</a>
            </li>
            <li class="nav__item has-sous-nav">
              <a href="/Category/Parcourir.html" class="nav__link">Parcourir</a>
              <ul class="sous-nav">
                <li><a href="/Category/Films.html">Film</a></li>
                <li><a href="/Category/Séries.html">Série</a></li>
                <li><a href="/Category/Animé.html">Animé</a></li>
              </ul>
            </li>

            <li class="nav__item">
              <a href="/Category/Aide.html" class="nav__link">Aide</a>
            </li>

            <li class="nav__item">
              <a href="/Category/Parametre.html" class="nav__link">Parametre</a>
            </li>
          </ul>
        </div>

        <div class="nav__actions">
          <!-- notif button -->
          <i class="bx bx-bell nav__notifications" id="notifications-btn"></i>

          <!-- Search button -->
          <i class="ri-search-line nav__search" id="search-btn"></i>

        </div>
      </nav>
    </header>

    <!--==================== SEARCH ====================-->
    <div class="search" id="search">
      <form action="" class="search__form">
        <i class="ri-search-line search__icon"></i>
        <input
          type="search"
          placeholder="Recherchez des films, séries, animés.."
          class="search__input"
          id="searchInput"
          oninput="filterAnimes()"
        />
      </form>
      <i class="ri-close-line search__close" id="search-close"></i>
      <!-- Liste des résultats -->
      <ul id="resultsList"></ul>
    </div>

    <script>
      document.getElementById("search-btn").addEventListener("click", () => {
        document.getElementById("search").classList.add("show-search");
      });
      document.getElementById("search-close").addEventListener("click", () => {
        document.getElementById("search").classList.remove("show-search");
      });

     
    </script>

    <section class="video-player">
        <div class="container-video">
            <iframe id="videoPlayer" src="" frameborder="0" allowfullscreen></iframe>
        </div>
    </section>


    <main class="anime-details">
      <div class="anime-details__container">
        <div class="anime-details__image">
          <a href="/Jujutsu Kaisen/Jujutsu Kaisen.html">
            <img src="/image/image/jujutsu-kaisen.jpe" alt="Anime Image" />
          </a>
          <a href="https://youtu.be/Xz5bOFNbjnI" class="button">Regarder la bande d'annonce</a>
        </div>
        <div class="anime-details__info">
          <h1 class="anime-details__title">Jujutsu Kaisen</h1>
          <p class="anime-details__date">2020</p>
          <div class="anime-details__rating">
            <div class="rating-circle">
              <div class="rating-circle__inner">8.6</div>
            </div>
          </div>
          <p class="anime-details__summary">
            Souffrance, regrets, humiliations... les sentiments négatifs que ressentent les humains se transforment peu à peu en fléaux se cachant dans notre existence. Sévissant dans le monde entier, ils sont capables d'entraîner les gens dans de terribles malheurs et, parfois même, jusqu'à la mort.
          </p>
          <p class="anime-details__country">Pays : Japan</p>
          <p class="anime-details__genre">Genre : Animation</p>
          <p class="anime-details__release">Date de sortie : 03 oct. 2020</p>
        </div>
      </div>
    </main>

   <!--==================== SEASONS AND EPISODES ====================-->
   <section class="seasons">
    <div class="seasons__list">
      <div class="dropdown">
        <button class="dropbtn">Saisons</button>
      </div>
    </div>
  </section>

  <section class="episodes">
        <h2>Épisodes</h2>
        <div class="episodes__list" id="episodesList">
            <!-- Les épisodes seront ajoutés ici dynamiquement -->
        </div>
    </section>


  <section class="recommended">
    <h2>Recommandé pour vous</h2>
    <div class="recommended-container">
      <!-- Les cartes recommandées seront ajoutées ici -->
    </div>
    <button id="prev-page-button" class="prev-page-button" style="display: none;">Page Précédente</button>
    <button id="next-page-button" class="next-page-button">Page Suivante</button>
  </section>

  <script src="#"></script>
  <script src="/js/Recommandation.js"></script>
  <script src="/js/script.js"></script>
  <script src="/js/barre de rechercge.js"></script>
</body>
</html>
